/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require material_icons
 */

@import 'materialize';

@font-face {
	font-family: 'Varela Round';
	font-style: normal;
	font-weight: 400;
	src: local('Varela Round'), local('VarelaRound-Regular'), url('font/varela_round.woff2') format('woff2');
}

*:not(.material-icons) { font-family: 'Varela Round', sans-serif !important; }

.small-text-1  { font-size: 95% !important; }
.small-text-2  { font-size: 90% !important; }
.small-text-3  { font-size: 85% !important; }
.small-text-4  { font-size: 80% !important; }
.small-text-5  { font-size: 75% !important; }
.small-text-6  { font-size: 70% !important; }
.small-text-7  { font-size: 65% !important; }
.small-text-8  { font-size: 60% !important; }
.small-text-9  { font-size: 55% !important; }
.small-text-10 { font-size: 50% !important; }
.small-text-11 { font-size: 45% !important; }
.small-text-12 { font-size: 40% !important; }
.small-text-13 { font-size: 35% !important; }
.small-text-14 { font-size: 30% !important; }

.large-text-1 { font-size: 105% !important; }
.large-text-2 { font-size: 110% !important; }
.large-text-3 { font-size: 115% !important; }
.large-text-4 { font-size: 120% !important; }
.large-text-5 { font-size: 125% !important; }
.large-text-6 { font-size: 130% !important; }
.large-text-7 { font-size: 135% !important; }
.large-text-8 { font-size: 140% !important; }
.large-text-9 { font-size: 145% !important; }
.large-text-10 { font-size: 150% !important; }
.large-text-11 { font-size: 155% !important; }
.large-text-12 { font-size: 160% !important; }
.large-text-13 { font-size: 165% !important; }
.large-text-14 { font-size: 170% !important; }
.large-text-15 { font-size: 175% !important; }

.bold { font-weight: bold; }